name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.3

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '12'

      - name: Cache Node dependencies
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install dependencies
        run: yarn install --no-progress --non-interactive

      - name: Build
        run: yarn build

      - name: Synth
        run: yarn synth

      - name: Test
        run: yarn test

  auto-merge:
    runs-on: ubuntu-18.04
    needs:
      - ci
    steps:
      - uses: ridedott/merge-me-action@master
        with:
          GITHUB_LOGIN: "dependabot[bot]"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: MERGE
